# Python virtual environment & cache
venv/
__pycache__/
*.pyc

# Telegram Session Files
*.session
*.session-journal

# Database
*.db
*.db-journal

# Downloaded files & backups
downloads/
backups/

# Sensitive files
cookies.txt
